<ion-view view-title="SERS">
    <ion-content style="background: url('img/background-login.jpg') center; background-size: cover;">
        <div class="im-wrapper">
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"><img style="width: 210px" src="img/logo_sers_large.png"></div>
                </div>
            </div>
            <form class="login" name="loginForm">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" ng-model="login.email" value="">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Senha</span>
                        <input type="password" placeholder="Senha" ng-model="login.senha" value="">
                    </label>
                    <div class="padding-top">
                        <button class="button button-block button-balanced" ng-click="entrar(login)" data-ink-color="#9DEAFF" data-ink-opacity="1">Entrar</button>
                        <button class="button button-block button-dark" ng-click="criarConta(login)">Criar Conta</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>