<ion-view view-title="SERS">
    <ion-content class="has-footer">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-body"></i> Requisitos de Usuário</strong>
        </div>
        <div class="im-wrapper">
            <div class="card" ng-repeat="item in requisitos" on-tap="editar(item)" on-swipe-left="excluir(item)" on-hold="excluir(item)">
                <div class="item item-divider">
                    <p>RU{{('000' + item.id_requisito).substr(-3, 3)}}</p>
                </div>
                <div class="item item-text-wrap no-padding-top" overflow-scroll="true" style="max-height: 120px; overflow-y: auto" >
                    <p>{{item.descricao}}</p>
                </div>
                <div class="item item-divider no-padding-top" ng-if="item.interessados">
                    <p>{{item.interessados}}</p>
                </div>
            </div>
        </div>
    </ion-content>
    <button id="btn-incluir" ng-click="incluir()" class="button button-dark button-fab button-fab-bottom-right">
        <i class="icon ion-plus"></i>
    </button>
    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>