<ion-view view-title="SERS">
    <ion-content class="has-footer">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-person-stalker"></i> Interessados</strong>
        </div>
        <ion-item ng-repeat="item in interessados" on-tap="editar(item)" on-swipe-left="excluir(item)" on-hold="excluir(item)">
            <div class="item-margin-right">
                <h2>{{item.nome}}</h2>
                <p>{{item.papel}}</p>
            </div>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
    </ion-content>
    <button id="btn-incluir" ng-click="incluir()" class="button button-dark button-fab button-fab-bottom-right">
        <i class="icon ion-plus"></i>
    </button>
    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>