<ion-view view-title="SERS">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Detalhes do Padrão</strong>
        </div>
        <div class="padding text-justify">
            <h3>{{padrao.nome}}</h3>
        </div>
        <div class="padding text-justify">
            <h3>Objetivo</h3>
            <div ng-bind-html="padrao.objetivo"></div>
        </div>
        <div class="padding text-justify">
            <h3>Contexto</h3>
            <div ng-bind-html="padrao.contexto"></div>
        </div>
        <div class="padding text-justify">
            <h3>Problema</h3>
            <div ng-bind-html="padrao.problema"></div>
        </div>
        <div class="padding text-justify">
            <h3>Forças</h3>
            <div ng-bind-html="padrao.forcas"></div>
        </div>
    </ion-content>
</ion-view>
