<ion-view view-title="SERS">
	<ion-content class="has-footer">
		<div class="bar bar-subheader bar-stable static text-center">
	        <strong class="title"><i class="icon ion-android-document"></i> Seções do Documeto ERS</strong>
	    </div>
	    <div class="im-wrapper">
	    	<!-- Forms -->
	    	<form name="projetoSecoesForm">
		        <div class="list">
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Propósito</span>
		                <textarea rows="7" placeholder="Propósito" ng-model="secoes.proposito"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Escopo</span>
		                <textarea rows="7" placeholder="Escopo" ng-model="secoes.escopo"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Definições, acrônimos e abreviaturas</span>
		                <textarea rows="7" placeholder="Definições, acrônimos e abreviaturas" ng-model="secoes.def_acron_abrev"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Referências</span>
		                <textarea rows="7" placeholder="Referências" ng-model="secoes.referencias"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Organização</span>
		                <textarea rows="7" placeholder="Organização" ng-model="secoes.organizacao" ></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Perspectiva do produto</span>
		                <textarea rows="7" placeholder="Perspectiva do produto" ng-model="secoes.perspectiva"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Funcionalidades</span>
		                <textarea rows="7" placeholder="Funcionalidades" ng-model="secoes.funcionalidades"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Característica do utilizador</span>
		                <textarea rows="7" placeholder="Característica do utilizador" ng-model="secoes.caracteristicas_utilizador"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Restrições</span>
		                <textarea rows="7" placeholder="Restrições" ng-model="secoes.restricoes"></textarea>
		            </label>
		            <label class="item item-input item-floating-label">
		                <span class="input-label">Assunções e dependências</span>
		                <textarea rows="7" placeholder="Assunções e dependências" ng-model="secoes.assuncoes_dependencias"></textarea>
		            </label>
		            <br/>
		            <button class="button button-block button-balanced ink" ng-click="salvarSecoes(secoes)" data-ink-color="#9DEAFF" data-ink-opacity="1">
		                Enviar
		            </button>
		        </div>
	        </form>
    	</div>
	</ion-content>
	<ion-footer-bar class="bar-stable">
		<h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
	</ion-footer-bar>
</ion-view>