<ion-view view-title="SERS">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Detalhes do Padrão</strong>
        </div>
        <div class="im-wrapper">
            <div class="padding text-justify">
                <h4>{{padrao.nome}}</h4>
            </div>
            <div class="padding text-justify">
                <h3>Objetivo</h3>
                <div ng-bind-html="padrao.objetivo"></div>
            </div>
            <div class="padding text-justify">
                <h3>Contexto</h3>
                <div ng-bind-html="padrao.contexto"></div>
            </div>
            <div class="padding text-justify">
                <h3>Problema</h3>
                <div ng-bind-html="padrao.problema"></div>
            </div>
            <div class="padding text-justify">
                <h3>Forças</h3>
                <div ng-bind-html="padrao.forcas"></div>
            </div>
            <div class="padding" ng-show="modo == 'selecionar'">
                <div class="row no-padding">
                    <div class="col-50">
                        <button type="button" class="button button-block button-dark ink" ng-click="goToList(1)" data-ink-color="#9DEAFF" data-ink-opacity="1">
                            Cancelar
                        </button>
                    </div>
                    <div class="col-50">
                        <button class="button button-block button-balanced ink" ng-click="selecionarPadrao();" data-ink-color="#9DEAFF" data-ink-opacity="1">
                            Utilizar este padrão
                        </button>
                    </div>
                </div>
                
            </div>

        </div>
    </ion-content>
</ion-view>
