<ion-view view-title="SERS">
    <ion-content class="has-footer">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-paper"></i> Dados do Requisito <span ng-hide="!requisito.id_requisito">RF{{('000' + requisito.id_requisito).substr(-3, 3)}}</span></strong>
        </div>
        <div class="button-bar">
            <a class="button button-raised ink-dark button-bar-active">Requisito</a>
            <a class="button button-raised ink-dark" ng-click="tabSelect(3)">Sujestões</a>
        </div>
        <div class="im-wrapper">
            <form name="form" class="padding-top" ng-submit="salvar(requisito)" novalidate autocomplete="off">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Resumo</span>
                        <input type="text" name="resumo" placeholder="Resumo" ng-model="requisito.resumo" ng-required="true" ng-minlength="3">
                        <ul ng-messages="form.resumo.$dirty && form.resumo.$error">
                            <li ng-message="required"><small class="assertive-900">Preenchimento obrigatório</small></li>
                            <li ng-message="minlength"><small class="assertive-900">Informar ao menos 3 caracteres</small></li>
                        </ul>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Descrição do Requisito</span>
                        <textarea rows="10" name="descricao" placeholder="Descrição do Requisito" ng-model="requisito.descricao" ng-required="true" ng-minlength="10"></textarea>
                        <ul ng-messages="form.descricao.$dirty && form.descricao.$error">
                            <li ng-message="required"><small class="assertive-900">Preenchimento obrigatório</small></li>
                            <li ng-message="minlength"><small class="assertive-900">Informar ao menos 10 caracteres</small></li>
                        </ul>
                    </label>
                    <button ng-show="padrao.exemplos" type="button" class="button button-raised button-block button-dark" ng-click="openModal()" data-ink-color="#9DEAFF" data-ink-opacity="1">
                        Ver exemplos
                    </button>
                    <script id="exemplos-modal.html" type="text/ng-template">
                        <ion-modal-view>
                            <ion-header-bar class="bar bar-stable static text-center">
                                <h4 class="title">Exemplos de Preenchimento</h4>
                                <strong class="title">Exemplos de Preenchimento</strong>
                            </ion-header-bar>
                            <ion-content class="padding">
                                <h3><strong>{{padrao.nome}}</strong></h3>
                                <div class="card" ng-repeat="item in padrao.exemplos" on-tap="selecionarExemplo(item.id)">
                                    <div class="item item-text-wrap bold">
                                        <p ng-bind-html="item.resumo"/>
                                    </div>
                                    <div class="item item-text-wrap no-padding-top text-justify">
                                        <p ng-bind-html="item.definicao"/>
                                    </div>
                                </div>
                                <button type="button" class="button button-raised button-block button-dark" ng-click="closeModal()" data-ink-color="#9DEAFF" data-ink-opacity="1">
                                    Fechar
                                </button>
                            </ion-content>
                        </ion-modal-view>
                    </script>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Observações</span>
                        <textarea rows="5" name="observacao" placeholder="Observações" ng-model="requisito.observacao" ng-minlength="3"></textarea>
                        <ul ng-messages="form.observacao.$dirty && form.observacao.$error">
                            <li ng-message="minlength"><small class="assertive-900">Informar ao menos 3 caracteres</small></li>
                        </ul>
                    </label>
                    <br/>
                    <label class="item item-input item-select" ng-show="!requisito.id_padrao">
                        <div class="input-label ">
                            Tipo do Requisito
                        </div>
                        <select name="tipo" ng-model="requisito.tipo" ng-options="item.id as item.name for item in tipoOptions" ng-required="true"></select>
                        <ul ng-messages="form.tipo.$dirty && form.tipo.$error">
                            <li ng-message="required"><small class="assertive-900">Preenchimento obrigatório</small></li>
                        </ul>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label ">
                            Requisito de Usuário
                        </div>
                        <select name="requsu" class="item-select-40" ng-model="requisito.id_requisito_usuario" ng-options="item.id as item.name for item in reqUsuarioOptions"></select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label ">
                            Importância
                        </div>
                        <select name="importancia" ng-model="requisito.importancia" ng-options="item.id as item.name for item in importanciaOptions" ng-required="true"></select>
                        <ul ng-messages="form.tipo.$dirty && form.tipo.$error">
                            <li ng-message="required"><small class="assertive-900">Preenchimento obrigatório</small></li>
                        </ul>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label ">
                            Urgência
                        </div>
                        <select name="urgencia" required="required" ng-model="requisito.urgencia" ng-options="item.id as item.name for item in urgenciaOptions" ng-required="true"></select>
                        <ul ng-messages="form.tipo.$dirty && form.tipo.$error">
                            <li ng-message="required"><small class="assertive-900">Preenchimento obrigatório</small></li>
                        </ul>
                    </label>
                    <div class="item item-input no-padding-top" ng-show="requisito.id_padrao">
                        <div class="col col-50 input-label no-padding text-left">
                            Padrão de Projeto
                        </div>
                    </div>
                    <div class="card" ng-show="requisito.id_padrao" ng-click="padraoDetalhe()">
                        <div class="item item-text-wrap bold ">
                            <p>{{padrao.nome}}</p>
                        </div>
                        <div class="item item-text-wrap no-padding-top text-justify">
                            <p>{{padrao.objetivo| stripTags}}</p>
                        </div>
                        <div class="item item item-divider no-padding-top">
                            <div class="row no-padding">
                                <div class="col col-50 text-left no-padding">
                                    <a class="subdued no-padding">Categoria: {{padrao.categoria}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="button button-block button-balanced ink" ng-disabled="form.$invalid" data-ink-color="#9DEAFF" data-ink-opacity="1">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>