<ion-view view-title="SERS">
  <ion-content class="has-footer">
		<div class="bar bar-subheader bar-stable static text-center">
	        <strong class="title">Opções</strong>
	    </div>
		<ion-item ng-repeat="menu in menus" href="#/app/projetos/{{projeto.id_}}/{{menu.href}}">
		    <div class="item-icon-left">
		        <i class="icon {{menu.icone}}"></i>
		        <p>{{menu.descricao}}</p>
		    </div>
		    <div class="item-icon-right">
		        <i class="icon ion-ios-arrow-right"></i>
		    </div>
		</ion-item>
  </ion-content>
  <ion-footer-bar class="bar-stable">
		<h5 class="row">{{projeto.nome}}</h5>
	</ion-footer-bar>
</ion-view>
