<ion-view view-title="SERS">
    <ion-content class="has-footer">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-body"></i> Requisitos de Usuário</strong>
        </div>
        <ion-item ng-repeat="item in requisitos" on-tap="editar(item)" on-hold="excluir(item)">
            <h2>RU{{('000'+item.id_requisito).substr(-3,3)}}</h2>
            <p>{{item.descricao}}</p>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
    </ion-content>
    <a ng-href="#/app/projetos/{{projeto.id}}/requsuario/cadastro">
        <button id="btn-incluir" class="button button-dark button-fab button-fab-bottom-right">
            <i class="icon ion-plus"></i>
        </button>
    </a>
    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>