<ion-view view-title="SERS">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-paper"></i> Dados do Requisito de Usuário</strong>
        </div>
        <div class="im-wrapper">
            <!-- Forms -->
            <form name="reqUsuarioForm">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Descrição</span>
                        <textarea rows="7" placeholder="Descrição" ng-model="requisito.descricao" value=""></textarea>
                    </label>
                    <br/>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Interessados</span>
                        <ion-checkbox ng-repeat="item in interessados" ng-checked="item.is_check == true" ng-model="requisito.interessados[item.id]">{{item.nome}}</ion-checkbox>
                    </label>
                    <br/>
                    <button class="button button-block button-balanced ink" ng-click="salvarReqUsuario(requisito, interessados)" data-ink-color="#9DEAFF" data-ink-opacity="1">
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>