<ion-view view-title="SERS">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-monitor"></i> Requisitos de Sistema</strong>
        </div>
        <div class="button-bar">
            <a class="button button-raised ink-dark button-bar-active">Funcional</a>
            <a class="button button-raised ink-dark" ng-click="tabSelect()">Não funcional</a>
        </div>
        <div class="im-wrapper">
            <div class="card" ng-repeat="item in requisitos" on-tap="editar(item)" on-swipe-left="excluir(item)" on-hold="excluir(item)">
                <div class="item item-divider">
                    <p>RF{{('000' + item.id_requisito).substr(-3, 3)}} - {{item.resumo}}</p>
                </div>
                <div class="item item-text-wrap no-padding-top">
                    <p>{{item.descricao}}</p>
                </div>
                <div class="item no-padding-top">
                    <div class="row no-padding">
                        <div class="col text-left no-padding">
                            <p class="bold no-padding">{{item.padrao}}</p>
                        </div>
                        <div class="col text-right no-padding">
                            <p class="text-right no-padding" ng-if="item.id_requisito_usuario">RU{{('000' + item.id_requisito_usuario).substr(-3, 3)}}</p>
                        </div>
                    </div>
                </div>
                <div class="item no-padding-top">
                    <div class="row no-padding">
                        <div class="col text-left no-padding">
                            <a class="subdued no-padding">Importância: {{descImportancia(item.importancia)}}</a>
                        </div>
                        <div class="col text-right no-padding">
                            <a class="subdued no-padding">Urgência: {{descUrgencia(item.urgencia)}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <button id="btn-incluir" ng-click="incluir()" class="button button-dark button-fab button-fab-bottom-right">
        <i class="icon ion-plus"></i>
    </button>
    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>
