<ion-view view-title="SERS">
    <ion-content class="has-footer">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-monitor"></i> Requisitos de Sistema</strong>
        </div>
        <div class="tabs tabs-top tabs-striped">
            <a class="tab-item tab-item-active">Funcionais</a>
            <a class="tab-item">Não funcionais</a>
        </div>
    </ion-content>
    <a ng-href="#/app/projetos/{{projeto.id}}/reqsistema/cadastro">
        <button id="btn-incluir" class="button button-dark button-fab button-fab-bottom-right">
            <i class="icon ion-plus"></i>
        </button>
    </a>

    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>