<ion-view view-title="SERS">
    <ion-content class="has-footer">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><i class="icon ion-ios-paper"></i> Dados do Requisito <span ng-hide="!requisito.id_requisito">RF{{('000' + requisito.id_requisito).substr(-3, 3)}}</span></strong>
        </div>
        <div class="button-bar">
            <a class="button button-raised ink-dark" ng-show="requisito.id_padrao && sugestoes.length > 0" ng-click="tabSelect(1)">Requisito</a>
            <a class="button button-raised ink-dark button-bar-active" ng-show="requisito.id_padrao && sugestoes.length > 0">Sujestões <small>({{sugestoes.length}})</small></a>
        </div>
        <div class="im-wrapper">
            <!--<div class="card" ng-repeat="item in sugestoes" on-tap="selecionarSugestao(item)">-->
            <div class="card" ng-repeat="item in sugestoes">
                <div class="item item-text-wrap bold">
                    <p>{{item.resumo}}</p>
                </div>
                <div class="item item-text-wrap no-padding-top">
                    <p>{{item.descricao}}</p>
                </div>
                <div class="item no-padding-top">
                    <div class="row no-padding">
                        <div class="col-66 text-left item-text-wrap no-padding">
                            <p class="bold no-padding">{{item.padrao}}</p>
                        </div>
                    </div>
                </div>
                <div class="item no-padding-top">
                    <div class="row no-padding">
                        <div class="col text-left no-padding">
                            <a class="subdued no-padding">Importância: {{descImportancia(item.importancia)}}</a>
                        </div>
                        <div class="col text-right no-padding">
                            <a class="subdued no-padding">Urgência: {{descUrgencia(item.urgencia)}}</a>
                        </div>
                    </div>
                </div>
                <div class="item no-padding-top">
                    <div class="inline" style="padding-right: 5px;">
                        <button class="button button-positive button-fab" ng-click="selecionarSugestao(item,1)"><i class="icon ion-ios-copy"></i></button>
                    </div>
                    <div class="inline" style="padding-left: 5px;">
                        <button class="button button-balanced button-fab" ng-click="selecionarSugestao(item,2)"><i class="icon ion-merge"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable">
        <h5 class="row"><i class="icon ion-ios-briefcase"> {{projeto.nome}}</i></h5>
    </ion-footer-bar>
</ion-view>